<section class="judges" id="judges">
  <div class="separator">
    <h2><a href="#judges" class="scrolly-link">Judges</a></h2>
  </div>
  <div class="content">
	<div class="info-text">
	<!--    <h3> Interested in judging DevFest 2018? Email us at <a href="mailto:devfest@adicu.com">devfest@adicu.com.</a><h3> -->
	</div>
  	{{#each judges}}
  		<div class="judge">
  			<div class="photo" style="background-image:url({{img}})"><a href="{{link}}"></a></div>
  			<h3>{{name}}</h3>
  			<h6>{{bio}}</h4>
  		</div>
  	{{/each}}
	</div>
</section>
