<section class="learn" id="learn">
  <div class="separator">
    <h2><a href="https://learn.devfe.st">Learn</a></h2>
  </div>
  <div class="content">
    <h3>Learn something new via one of the DevFest tracks. Learn more about them <a href="https://learn.devfe.st">here</a>!</h3>
  </div>
</section>
