<section class="sponsors" id="sponsors">
  <div class="separator">
    <h2><a href="#sponsors" class="scrolly-link">Sponsors</a></h2>
  </div>
  <div class="content">
    <h3> If you are interested in sponsoring the 2018 DevFest, contact us at <a href="mailto:devfest@adicu.com">devfest@adicu.com</a>. </h3>
  </div>
</section>

